@import url("./fonts/inter.css");

:root {
  --background-color: #1A1A1E; /* Light Blue */
  --navbar-color: #f5f5f5; /* Soft Blue */
  --text-color: #000000; /* Deep Blue */
  --optional-color: #42a5f5; /* Vibrant Blue */
  --highlighted-color: #1e88e5; /* Medium Blue */
  --afuckingcolor: #64b5f6; /* Sky Blue */
  --afuckingtextcolor: #102027; /* Dark Blue-Grey */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: "Inter", sans-serif;
  color: var(--navbar-color);
  display: flex;
  width: 100%;
}